body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color:grey;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background:#2cb69f ;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: red 3px solid;
    
    
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}
header ul{
    margin: 35px 10px 10px 10px;
    padding: 0;
    
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    border: solid green 2px;
    color: red;
}
header li:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
    
}
header #logo{
    float: left;
    margin: -50px 0px -30px 0px;
    padding: 0;
    height: 165px;
}
header nav{
    float: right;
    margin-top: 10px;
}
header #logo img{
    width: 200px;
    height: 200px;
}

#right {
    display: flex;
    flex-direction: column;
    text-align: left;
}
#right p{
    font-size: 16px;
    width: 75%;
}
#right h1{
    color: black;
}
#bild{
    float: left;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 10px;
    margin: 10px;
}
#btn{
    border: 2px solid #4caf50;
    color:black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    background-color: white;
    float: center;
    
}
#btn:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
}